src/workflows/004_sync_bc_to_ps_analytics.json
{
    "updatedAt": "2025-11-17T14:45:14.000Z",
    "createdAt": "2025-11-17T09:39:30.159Z",
    "id": "l5ux7p339Nejygra",
    "name": "004_sync_bc_to_ps_analytics",
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "sync-bc-to-analytics",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "2b4f261e-97e4-4462-968b-0ca94e7a9b25",
            "name": "Webhook Start",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -896,
                1952
            ],
            "webhookId": "sync-recursos-y-ps-years-webhook"
        },
        {
            "parameters": {
                "url": "={{ \n  'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies('\n  + $('Build sync_state map').first().json.companyId\n  + ')/Recursos?$select=no,name,arbvrneMail,globalDimension1Code,calendario,fechaDeBaja,fechaDeAlta,subcontratacion,perfil,lastModifiedDateTime&$filter=lastModifiedDateTime%20ge%20'\n  + $('Build sync_state map').first().json.syncStateByEntity['recursos']\n}}",
                "authentication": "genericCredentialType",
                "genericAuthType": "oAuth2Api",
                "options": {}
            },
            "id": "b6a767ac-7a08-4fb8-a6f4-7cf94fa44b4b",
            "name": "BC API - Recursos",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                0,
                32
            ],
            "credentials": {
                "oAuth2Api": {
                    "id": "WvL0ymQem3Y2ptqz",
                    "name": "Unnamed credential"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "={{ \n  'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies('\n  + $('Build sync_state map').first().json.companyId\n  + ')/PS_Years'\n}}",
                "authentication": "genericCredentialType",
                "genericAuthType": "oAuth2Api",
                "options": {}
            },
            "id": "68f75619-ec2f-4d26-83bb-0a852356aba1",
            "name": "BC API - PS_Years",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                0,
                560
            ],
            "credentials": {
                "oAuth2Api": {
                    "id": "WvL0ymQem3Y2ptqz",
                    "name": "Unnamed credential"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "={{ \n  'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies('\n  + $('Build sync_state map').first().json.companyId\n  + ')/Proyectos?$select=no,description,departamento,Probability,TipoProyecto,Estado,Fechafin,DoNotConsolidate,Responsible,lastModifiedDateTime&$filter=lastModifiedDateTime%20ge%20'\n  + $('Build sync_state map').first().json.syncStateByEntity['proyectos']\n}}",
                "authentication": "genericCredentialType",
                "genericAuthType": "oAuth2Api",
                "options": {}
            },
            "id": "73acdc22-d914-4506-a4d5-c541059d5d93",
            "name": "BC API - Proyectos",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                0,
                992
            ],
            "credentials": {
                "oAuth2Api": {
                    "id": "WvL0ymQem3Y2ptqz",
                    "name": "Unnamed credential"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "={{ \n  'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies('\n  + $('Build sync_state map').first().json.companyId\n  + ')/EquipoProyectos?$select=ARBVRNJobNo,ARBVRNResourceNo,lastModifiedDateTime&$filter=lastModifiedDateTime%20ge%20'\n  + $('Build sync_state map').first().json.syncStateByEntity['equipo_proyectos']\n}}",
                "authentication": "genericCredentialType",
                "genericAuthType": "oAuth2Api",
                "options": {}
            },
            "id": "3c056187-1245-4f3e-8e43-a82363f94244",
            "name": "BC API - Equipo Proyectos",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                0,
                1856
            ],
            "credentials": {
                "oAuth2Api": {
                    "id": "WvL0ymQem3Y2ptqz",
                    "name": "Unnamed credential"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.recursos\n(company_name, \"no\", name, arbvrn_email, global_dimension1_code, calendario,\n fecha_de_baja, fecha_de_alta, subcontratacion, perfil,\n last_modified_datetime, updated_at)\nSELECT\n  $1,                 -- company_name\n  $2,                 -- no\n  $3,                 -- name\n  NULLIF(btrim($4),''),  -- arbvrn_email, vac\u00edo \u2192 NULL\n  $5,                 -- global_dimension1_code\n  $6,                 -- calendario\n  NULLIF(NULLIF($7::text,''),'0001-01-01')::date,  -- fecha_de_baja\n  NULLIF(NULLIF($8::text,''),'0001-01-01')::date,  -- fecha_de_alta\n  CASE WHEN $9::text IN ('true','1','t','yes') THEN true ELSE false END, -- subcontratacion\n  $10,                -- perfil\n  NULLIF($11::text,'')::timestamptz,               -- last_modified_datetime\n  NOW()               -- updated_at\nWHERE $2::text <> ''      -- no obligatorio\nON CONFLICT (\"no\")\nDO UPDATE SET\n  company_name           = EXCLUDED.company_name,\n  name                   = EXCLUDED.name,\n  arbvrn_email           = EXCLUDED.arbvrn_email,\n  global_dimension1_code = EXCLUDED.global_dimension1_code,\n  calendario             = EXCLUDED.calendario,\n  fecha_de_baja          = EXCLUDED.fecha_de_baja,\n  fecha_de_alta          = EXCLUDED.fecha_de_alta,\n  subcontratacion        = EXCLUDED.subcontratacion,\n  perfil                 = EXCLUDED.perfil,\n  last_modified_datetime = EXCLUDED.last_modified_datetime,\n  updated_at             = NOW()\nRETURNING *;",
                "options": {
                    "queryReplacement": "{{$json.companyName}}\n{{$json.no}}\n{{$json.name}}\n{{$json.arbvrneMail}}\n{{$json.globalDimension1Code}}\n{{$json.calendario}}\n{{$json.fechaDeBaja}}\n{{$json.fechaDeAlta}}\n{{ $json.subcontratacion ? 'true' : 'false' }}\n{{$json.perfil}}\n{{$json.lastModifiedDateTime}}"
                }
            },
            "id": "e8f81ea3-33f8-489f-813e-89afe1d689b3",
            "name": "Upsert Recursos",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                448,
                144
            ],
            "credentials": {
                "postgres": {
                    "id": "aF1OnLqFL94UmPRU",
                    "name": "Postgres account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.ps_year\n(company_name, ps_year)\nSELECT\n  $1,                 -- company_name\n  $2::integer         -- ps_year\nWHERE $2::text <> '' AND $2::text != '0'      -- ps_year obligatorio y v\u00e1lido\nON CONFLICT (ps_year)\nDO UPDATE SET\n  company_name = EXCLUDED.company_name\nRETURNING *;",
                "options": {
                    "queryReplacement": "{{$json.companyName}}\n{{$json.PS_Year}}"
                }
            },
            "id": "ee5e36e3-d4b1-4399-9195-95d681f9b176",
            "name": "Upsert PS_Year",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                448,
                624
            ],
            "credentials": {
                "postgres": {
                    "id": "aF1OnLqFL94UmPRU",
                    "name": "Postgres account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.proyectos\n(company_name, \"no\", description, departamento, probability, tipo_proyecto, estado, fecha_fin, do_not_consolidate, responsible, last_modified_datetime, updated_at)\nSELECT\n  $1,                 -- company_name\n  $2,                 -- no\n  $3,                 -- description\n  $4,                 -- departamento\n  CASE \n    WHEN $5::text ~ '^-?[0-9]+(\\.[0-9]+)?$' THEN $5::numeric\n    ELSE 0::numeric\n  END,                -- probability (maneja valores no num\u00e9ricos)\n  $6,                 -- tipo_proyecto\n  $7,                 -- estado\n  NULLIF(NULLIF($8::text,''),'0001-01-01')::date,  -- fecha_fin\n  CASE WHEN $9::text IN ('true','1','t','yes') THEN true ELSE false END, -- do_not_consolidate\n  $10,                -- responsible\n  NULLIF($11::text,'')::timestamptz,               -- last_modified_datetime\n  NOW()               -- updated_at\nWHERE $2::text <> ''      -- no obligatorio\nON CONFLICT (\"no\")\nDO UPDATE SET\n  company_name           = EXCLUDED.company_name,\n  description            = EXCLUDED.description,\n  departamento           = EXCLUDED.departamento,\n  probability            = EXCLUDED.probability,\n  tipo_proyecto          = EXCLUDED.tipo_proyecto,\n  estado                 = EXCLUDED.estado,\n  fecha_fin              = EXCLUDED.fecha_fin,\n  do_not_consolidate     = EXCLUDED.do_not_consolidate,\n  responsible            = EXCLUDED.responsible,\n  last_modified_datetime = EXCLUDED.last_modified_datetime,\n  updated_at             = NOW()\nRETURNING *;",
                "options": {
                    "queryReplacement": "{{$json.companyName}}\n{{$json.no}}\n{{$json.description}}\n{{$json.departamento}}\n{{$json.probability}}\n{{$json.tipoProyecto}}\n{{$json.estado}}\n{{$json.fechaFin}}\n{{ $json.doNotConsolidate ? 'true' : 'false' }}\n{{$json.responsible}}\n{{$json.lastModifiedDateTime}}"
                }
            },
            "id": "b696eb5d-3307-413a-9825-0e070429ac31",
            "name": "Upsert Proyectos",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                448,
                1056
            ],
            "credentials": {
                "postgres": {
                    "id": "aF1OnLqFL94UmPRU",
                    "name": "Postgres account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.equipo_proyectos\n(company_name, job_no, resource_no, resource_name, updated_at)\nSELECT\n  $1,                 -- company_name\n  $2,                 -- job_no\n  $3,                 -- resource_no\n  NULLIF(btrim($4),''),  -- resource_name\n  NOW()               -- updated_at\nWHERE $2::text <> '' AND $3::text <> ''      -- ambos campos obligatorios\nON CONFLICT (company_name, job_no, resource_no)\nDO UPDATE SET\n  resource_name = EXCLUDED.resource_name,\n  updated_at    = NOW()\nRETURNING *;",
                "options": {
                    "queryReplacement": "{{$json.companyName}}\n{{$json.jobNo}}\n{{$json.resourceNo}}\n{{$json.resourceName}}"
                }
            },
            "id": "31bbc745-0061-40cf-85d0-3947802136ad",
            "name": "Upsert Equipo Proyectos",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                448,
                1920
            ],
            "credentials": {
                "postgres": {
                    "id": "aF1OnLqFL94UmPRU",
                    "name": "Postgres account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const nodes = [\n  { key: 'recursos', name: 'Result Recursos' },\n  { key: 'ps_year', name: 'Result PS_Years' },\n  { key: 'proyectos', name: 'Result Proyectos' },\n  { key: 'equipo_proyectos', name: 'Result Equipo Proyectos' },\n  { key: 'job_task', name: 'Result Job Task' },\n  { key: 'centros_de_responsabilidad', name: 'Result CentrosDeResponsabilidad' },\n  { key: 'configuracion_usuarios', name: 'Result ConfiguracionUsuarios' },\n  { key: 'tecnologias', name: 'Result Tecnologias' },\n  { key: 'tipologias', name: 'Result Tipologias' },\n  { key: 'departamentos', name: 'Result Departamentos' },\n  { key: 'movimientos_proyectos', name: 'Result MovimientosProyectos' },\n];\nconst details = {};\nlet success = 0, failed = 0;\nfor (const n of nodes) {\n  let arr = [];\n  try { arr = $items(n.name).map(i => i.json).filter(Boolean); } catch (e) { arr = []; }\n  if (arr.length > 0) {\n    const d = arr[0];\n    const entry = { status: d.status };\n    if (typeof d.synced !== 'undefined') entry.synced = d.synced;\n    if (typeof d.success !== 'undefined') entry.success = d.success;\n    if (typeof d.failed !== 'undefined') entry.failed = d.failed;\n    if (d.message) entry.message = String(d.message);\n    if (d.causeNode) entry.causeNode = d.causeNode;\n    details[n.key] = entry;\n    if (String(d.status) === 'ok') success++; else failed++;\n  }\n}\nconst overall = failed === 0 ? 'ok' : (success > 0 ? 'partial_error' : 'error');\nconst company = ($('Resolve Company').first()?.json?.companyName) || '';\nreturn [{ json: { status: overall, timestamp: new Date().toISOString(), company, summary: { total_entities: Object.keys(details).length, success, failed }, details } }];\n"
            },
            "id": "dd2e6932-eb25-4fac-b808-348d0f08e565",
            "name": "Compute Execution Summary",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                32
            ]
        },
        {
            "parameters": {
                "jsCode": "// Resultado por entidad: Recursos\nconst items = $input.all();\nlet failed = 0;\nlet firstErr = '';\nfor (const it of items) {\n  const j = it?.json || {};\n  const statusCode = Number(j?.statusCode ?? j?.response?.statusCode ?? 0);\n  const bodyErr = j?.body?.error?.message || (typeof j?.body === 'string' ? j.body : null);\n  const msg = j?.error?.message || j?.message || j?.data?.error || j?.response?.body || j?.responseBody || bodyErr || null;\n  if (!firstErr && msg) firstErr = String(msg);\n  if (msg || statusCode >= 400) failed++;\n}\nconst success = items.length - failed;\nconst synced = success;\nconst res = { key: 'recursos', causeNode: 'Upsert Recursos' };\nif (failed > 0) { res.status = 'error'; res.synced = success; res.failed = failed; res.message = firstErr || ('HTTP ' + (items[0]?.json?.statusCode || 'error')); } else { res.status = 'ok'; res.synced = synced; res.success = success; }\nreturn [{ json: res }];"
            },
            "id": "4bbd8c6d-9f16-4113-9fc1-abf370eabff1",
            "name": "Result Recursos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// Resultado por entidad: PS_Years\nconst items = $input.all();\nlet failed = 0;\nlet firstErr = '';\nfor (const it of items) {\n  const j = it?.json || {};\n  const statusCode = Number(j?.statusCode ?? j?.response?.statusCode ?? 0);\n  const bodyErr = j?.body?.error?.message || (typeof j?.body === 'string' ? j.body : null);\n  const msg = j?.error?.message || j?.message || j?.data?.error || j?.response?.body || j?.responseBody || bodyErr || null;\n  if (!firstErr && msg) firstErr = String(msg);\n  if (msg || statusCode >= 400) failed++;\n}\nconst success = items.length - failed;\nconst synced = success;\nconst res = { key: 'ps_year', causeNode: 'Upsert PS_Year' };\nif (failed > 0) { res.status = 'error'; res.synced = success; res.failed = failed; res.message = firstErr || ('HTTP ' + (items[0]?.json?.statusCode || 'error')); } else { res.status = 'ok'; res.synced = synced; res.success = success; }\nreturn [{ json: res }];"
            },
            "id": "c5a67d31-90f8-4fe1-b4c6-c7933255b9c0",
            "name": "Result PS_Years",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                432
            ]
        },
        {
            "parameters": {
                "jsCode": "// Resultado por entidad: Proyectos\nconst items = $input.all();\nlet failed = 0;\nlet firstErr = '';\nfor (const it of items) {\n  const j = it?.json || {};\n  const statusCode = Number(j?.statusCode ?? j?.response?.statusCode ?? 0);\n  const bodyErr = j?.body?.error?.message || (typeof j?.body === 'string' ? j.body : null);\n  const msg = j?.error?.message || j?.message || j?.data?.error || j?.response?.body || j?.responseBody || bodyErr || null;\n  if (!firstErr && msg) firstErr = String(msg);\n  if (msg || statusCode >= 400) failed++;\n}\nconst success = items.length - failed;\nconst synced = success;\nconst res = { key: 'proyectos', causeNode: 'Upsert Proyectos' };\nif (failed > 0) { res.status = 'error'; res.synced = success; res.failed = failed; res.message = firstErr || ('HTTP ' + (items[0]?.json?.statusCode || 'error')); } else { res.status = 'ok'; res.synced = synced; res.success = success; }\nreturn [{ json: res }];"
            },
            "id": "712c3140-88f1-481f-9e91-b9d36e2f8087",
            "name": "Result Proyectos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                896
            ]
        },
        {
            "parameters": {
                "jsCode": "// Resultado por entidad: Equipo Proyectos\nconst items = $input.all();\nlet failed = 0;\nlet firstErr = '';\nfor (const it of items) {\n  const j = it?.json || {};\n  const statusCode = Number(j?.statusCode ?? j?.response?.statusCode ?? 0);\n  const bodyErr = j?.body?.error?.message || (typeof j?.body === 'string' ? j.body : null);\n  const msg = j?.error?.message || j?.message || j?.data?.error || j?.response?.body || j?.responseBody || bodyErr || null;\n  if (!firstErr && msg) firstErr = String(msg);\n  if (msg || statusCode >= 400) failed++;\n}\nconst success = items.length - failed;\nconst synced = success;\nconst res = { key: 'equipo_proyectos', causeNode: 'Upsert Equipo Proyectos' };\nif (failed > 0) { res.status = 'error'; res.synced = success; res.failed = failed; res.message = firstErr || ('HTTP ' + (items[0]?.json?.statusCode || 'error')); } else { res.status = 'ok'; res.synced = synced; res.success = success; }\nreturn [{ json: res }];"
            },
            "id": "8552c2a1-e038-4b71-be39-83e98e125918",
            "name": "Result Equipo Proyectos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                1760
            ]
        },
        {
            "parameters": {},
            "id": "c016ad36-c909-4117-92c6-be285178640f",
            "name": "Merge Results",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 2,
            "position": [
                896,
                32
            ]
        },
        {
            "parameters": {
                "operation": "insert"
            },
            "id": "b301cae7-3750-4f40-af34-4fb568cd15d0",
            "name": "Insert Sync Execution",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -1120,
                3920
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "0eEJakollgPP3g3u",
                    "name": "Supabase Analytics"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "e04d0438-05a0-4543-963f-9fb75f13cdac",
            "name": "Response Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1568,
                32
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.sync_executions\n(company_name, status, started_at, finished_at, details)\nVALUES\n($1, $2, $3::timestamptz, NOW(), $4::jsonb)\nRETURNING *;",
                "options": {
                    "queryReplacement": "={{ $json.company }}\n={{ $json.status }}\n={{ $json.timestamp }}\n={{ JSON.stringify($json.details) }}"
                }
            },
            "id": "a3596d8f-caa6-4a0c-be2b-8bf5653fdddb",
            "name": "Save Sync Execution",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                1344,
                32
            ],
            "credentials": {
                "postgres": {
                    "id": "aF1OnLqFL94UmPRU",
                    "name": "Postgres account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1120,
                1760
            ],
            "id": "62990216-28fd-40de-bce5-f5eb52a4646d",
            "name": "When clicking 'Execute workflow'"
        },
        {
            "parameters": {
                "jsCode": "// Normaliza entrada y mapea a public.recursos\nconst input = $input.all();\nif (input.length === 0) return [];\n\nconst raw = input[0]?.json ?? {};\nconst src = raw?.body ?? raw;\nconst registros = Array.isArray(src.value) ? src.value : (Array.isArray(src) ? src : [src]);\nconst items = [];\n\n// helpers\nconst cleanDate = (v) => {\n  const s = String(v ?? '').trim();\n  if (!s || s === '0001-01-01') return '';\n  return s;\n};\nconst toBool = (v) => {\n  const s = String(v).toLowerCase();\n  return s === 'true' || s === '1' || s === 't' || s === 'yes';\n};\n\n// Obtener companyName del nodo Build sync_state map\nconst companyName = $items('Build sync_state map')[0]?.json?.company || '';\n\nfor (const r of registros) {\n  const no = String(r.no ?? r.code ?? '').trim();\n  if (!no) continue;\n\n  const name = String(r.name ?? '').trim();\n  const email = String(r.email ?? r.arbvrneMail ?? '').trim();\n  const globalDimension1Code = String(\n    r.globalDimension1Code ?? r.global_dimension1_code ?? r.department ?? ''\n  ).trim();\n  const calendario = String(\n    r.calendario ?? r.Calendario ?? r.calendar_type ?? r.calendarType ?? r.calendar ?? ''\n  ).trim();\n  const fechaDeBaja = cleanDate(r.fechaDeBaja ?? r.fecha_de_baja);\n  const fechaDeAlta = cleanDate(r.fechaDeAlta ?? r.fecha_de_alta);\n  const subcontratacion = (typeof r.subcontratacion === 'boolean') ? r.subcontratacion : toBool(r.subcontratacion);\n  const perfil = String(r.perfil ?? '').trim();\n  const lastModifiedDateTime = String(r.lastModifiedDateTime ?? r.last_modified_datetime ?? '').trim();\n\n  items.push({\n    json: {\n      companyName,\n      no,\n      name,\n      arbvrneMail: email,\n      globalDimension1Code,\n      calendario,\n      fechaDeBaja,\n      fechaDeAlta,\n      subcontratacion,\n      perfil,\n      lastModifiedDateTime,\n    },\n  });\n}\n\nreturn items;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                144
            ],
            "id": "3a5dbd3d-adba-457d-8dda-29da5e922568",
            "name": "Transform Recursos"
        },
        {
            "parameters": {
                "jsCode": "// Normaliza entrada y mapea a public.ps_year\nconst input = $input.all();\nif (input.length === 0) return [];\n\nconst raw = input[0]?.json ?? {};\nconst src = raw?.body ?? raw;\nconst registros = Array.isArray(src.value) ? src.value : (Array.isArray(src) ? src : [src]);\nconst items = [];\n\n// Obtener companyName del nodo Build sync_state map\nconst companyName = $items('Build sync_state map')[0]?.json?.company || '';\n\nfor (const r of registros) {\n  const psYear = String(r.year ?? r.Year ?? r.PS_Year ?? r.ps_year ?? '').trim();\n  if (!psYear || psYear === '0') continue;\n\n  items.push({\n    json: {\n      companyName,\n      PS_Year: parseInt(psYear) || 0,\n    },\n  });\n}\n\nreturn items;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                624
            ],
            "id": "69106b37-0772-4a9d-8481-04a7684e8b28",
            "name": "Transform PS_Years"
        },
        {
            "parameters": {
                "jsCode": "const input = $input.all();\nif (input.length === 0) return [];\n\nconst companyName = $('Build sync_state map').first().json.company;\nconst data = input[0].json;\nconst proyectos = data.value || [];\nconst items = [];\n\nconst allowed = new Set(['Planning','Quote','Open','Completed','Lost']);\n\n// helpers\nconst cleanDate = (v) => {\n  const s = String(v ?? '').trim();\n  if (!s || s === '0001-01-01') return '';\n  return s;\n};\nconst toBool = (v) => {\n  const s = String(v).toLowerCase();\n  return s === 'true' || s === '1' || s === 't' || s === 'yes';\n};\n\nfor (const p of proyectos) {\n  // DEBUG: Log para ver los datos originales\n  console.log('Proyecto original:', JSON.stringify(p));\n  \n  const statusRaw = p.estado ?? p.Estado ?? p.status ?? '';\n  const status = String(statusRaw).trim();\n  \n  // Normalizar status: si no est\u00e1 en la lista permitida, usar 'Open'\n  const normalizedStatus = allowed.has(status) ? status : 'Open';\n\n  // Manejar valores no num\u00e9ricos en Probability - M\u00c1S ROBUSTO\n  let probability = 0;\n  const probValue = p.Probability ?? p.probability;\n  \n  if (probValue !== undefined && probValue !== null) {\n    if (typeof probValue === 'string' && probValue.trim() === '') {\n      probability = 0;\n    } else {\n      const num = Number(probValue);\n      if (!isNaN(num) && isFinite(num)) {\n        probability = num;\n      }\n    }\n  }\n  \n  // DEBUG: Log para ver la transformaci\u00f3n\n  console.log('Probability transformado:', probability, 'de:', probValue);\n  \n  const no = String(p.no || '').trim();\n  const description = String(p.description || '').trim();\n  const departamento = String(p.departamento || p.globalDimension1Code || '').trim();\n  const tipoProyecto = String(p.TipoProyecto ?? p.tipoProyecto ?? '').trim();\n  const fechaFin = cleanDate(p.Fechafin ?? p.fechaFin ?? p.endingDate ?? '');\n  const doNotConsolidate = (typeof p.DoNotConsolidate === 'boolean') ? p.DoNotConsolidate : toBool(p.DoNotConsolidate);\n  const responsible = String(p.Responsible ?? p.responsible ?? '').trim();\n  const lastModifiedDateTime = String(p.lastModifiedDateTime ?? p.last_modified_datetime ?? '').trim();\n\n  // Crear objeto con nombres de campo en min\u00fasculas para evitar problemas\n  const proyectoTransformado = {\n    companyName,\n    no,\n    description,\n    departamento,\n    probability: probability,  // min\u00fascula\n    tipoProyecto: tipoProyecto,  // min\u00fascula\n    estado: normalizedStatus,  // min\u00fascula\n    fechaFin: fechaFin,  // min\u00fascula\n    doNotConsolidate: doNotConsolidate,\n    responsible: responsible,  // min\u00fascula\n    lastModifiedDateTime,\n  };\n\n  // DEBUG: Verificar el objeto transformado\n  console.log('Proyecto transformado:', JSON.stringify(proyectoTransformado));\n\n  items.push({\n    json: proyectoTransformado,\n  });\n}\n\nreturn items;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                1056
            ],
            "id": "920b22bb-6efc-4d24-9eab-e230be707039",
            "name": "Transform Proyectos"
        },
        {
            "parameters": {
                "jsCode": "// Normaliza entrada y mapea a public.equipo_proyectos\nconst input = $input.all();\nif (input.length === 0) return [];\n\nconst raw = input[0]?.json ?? {};\nconst src = raw?.body ?? raw;\nconst registros = Array.isArray(src.value) ? src.value : (Array.isArray(src) ? src : [src]);\nconst items = [];\n\n// Obtener companyName del nodo Build sync_state map\nconst companyName = $items('Build sync_state map')[0]?.json?.company || '';\n\nfor (const r of registros) {\n  const jobNo = String(r.arbvrnJobNo ?? r.ARBVRNJobNo ?? r.job_no ?? '').trim();\n  const resourceNo = String(r.arbvrnResourceNo ?? r.ARBVRNResourceNo ?? r.resource_no ?? '').trim();\n  const resourceName = String(r.arbvrnResourceName ?? r.ARBVRNResourceName ?? r.resource_name ?? '').trim();\n  \n  if (!jobNo || !resourceNo) continue;\n\n  items.push({\n    json: {\n      companyName,\n      jobNo,\n      resourceNo,\n      resourceName,\n    },\n  });\n}\n\nreturn items;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                1920
            ],
            "id": "d3d6ff64-4453-4bba-84ee-7705451163f0",
            "name": "Transform Equipo Proyectos"
        },
        {
            "parameters": {
                "jsCode": "const err = $node['Upsert Recursos']?.json?.error;\nif (err) { return []; }\nconst companyName = $items('Build sync_state map')[0]?.json?.company || '';\nreturn [{ json: { companyName, nowIso: new Date().toISOString() } }];"
            },
            "id": "5af3fd80-9dd5-43d3-b322-0c0a78524233",
            "name": "Compute now ISO (Recursos)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                240
            ]
        },
        {
            "parameters": {
                "jsCode": "const err = $node['Upsert PS_Year']?.json?.error;\nif (err) { return []; }\nconst companyName = $items('Build sync_state map')[0]?.json?.company || '';\nreturn [{ json: { companyName, nowIso: new Date().toISOString() } }];"
            },
            "id": "56325411-be86-418e-b340-6a235c69b64a",
            "name": "Compute now ISO (PS_Years)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                672
            ]
        },
        {
            "parameters": {
                "jsCode": "const err = $node['Upsert Proyectos']?.json?.error;\nif (err) { return []; }\nconst companyName = $items('Build sync_state map')[0]?.json?.company || '';\nreturn [{ json: { companyName, nowIso: new Date().toISOString() } }];"
            },
            "id": "1788d778-c210-475e-8127-3a041925327b",
            "name": "Compute now ISO (Proyectos)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                1104
            ]
        },
        {
            "parameters": {
                "jsCode": "const err = $node['Upsert Equipo Proyectos']?.json?.error;\nif (err) { return []; }\nconst companyName = $items('Build sync_state map')[0]?.json?.company || '';\nreturn [{ json: { companyName, nowIso: new Date().toISOString() } }];"
            },
            "id": "41b2a1db-3848-4473-92ff-bfb88b704adc",
            "name": "Compute now ISO (Equipo Proyectos)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                1968
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sync_state",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "company_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Build sync_state map').first().json.company }}"
                        },
                        {
                            "keyName": "entity",
                            "condition": "eq",
                            "keyValue": "recursos"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "last_sync_at",
                            "fieldValue": "={{ $json.nowIso }}"
                        }
                    ]
                }
            },
            "id": "6e0690a8-b1a1-47e9-9a86-e180ddfda8ff",
            "name": "Update sync_state (Recursos)",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                896,
                240
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "0eEJakollgPP3g3u",
                    "name": "Supabase Analytics"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sync_state",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "company_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Build sync_state map').first().json.company }}"
                        },
                        {
                            "keyName": "entity",
                            "condition": "eq",
                            "keyValue": "ps_year"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "last_sync_at",
                            "fieldValue": "={{ $json.nowIso }}"
                        }
                    ]
                }
            },
            "id": "789f3605-7727-4865-93bc-dcd8cc0b1674",
            "name": "Update sync_state (PS_Years)",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                896,
                672
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "0eEJakollgPP3g3u",
                    "name": "Supabase Analytics"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sync_state",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "company_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Build sync_state map').first().json.company }}"
                        },
                        {
                            "keyName": "entity",
                            "condition": "eq",
                            "keyValue": "proyectos"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "last_sync_at",
                            "fieldValue": "={{ $json.nowIso }}"
                        }
                    ]
                }
            },
            "id": "9418c299-b526-468c-8836-797e42216647",
            "name": "Update sync_state (Proyectos)",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                896,
                1104
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "0eEJakollgPP3g3u",
                    "name": "Supabase Analytics"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sync_state",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "company_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Build sync_state map').first().json.company }}"
                        },
                        {
                            "keyName": "entity",
                            "condition": "eq",
                            "keyValue": "equipo_proyectos"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "last_sync_at",
                            "fieldValue": "={{ $json.nowIso }}"
                        }
                    ]
                }
            },
            "id": "fd43e74b-d0a2-4aae-90c7-70e04977fa47",
            "name": "Update sync_state (Equipo Proyectos)",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                896,
                1968
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "0eEJakollgPP3g3u",
                    "name": "Supabase Analytics"
                }
            }
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "operation": "getAll",
                "tableId": "=sync_state",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "company_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Resolve Company').first().json.companyName }}"
                        }
                    ]
                }
            },
            "id": "54bdd502-fadf-4b2a-a767-81b965126f1b",
            "name": "Get sync_state ALL",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -448,
                1856
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "0eEJakollgPP3g3u",
                    "name": "Supabase Analytics"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const p = $json.params || {};\nconst slugRaw = (p.company || $json.query?.company || '').toString().trim().toLowerCase();\nconst slug = encodeURI(slugRaw);\nconst map = {\n  'psi': { companyName: 'Power Solution Iberia SL', companyId: 'ca9dc1bf-54ee-ed11-884a-000d3a455d5b' },\n  'pslab': { companyName: 'PS LAB CONSULTING SL', companyId: '656f8f0e-2bf4-ed11-8848-000d3a4baf18' }\n};\nconst chosen = map[slug];\nif (!chosen) {\n  return [{ json: { error: 'Invalid company', slug } }];\n}\nreturn [{ json: { companyName: chosen.companyName, companyId: chosen.companyId, slug } }];"
            },
            "id": "57d72bb4-795d-4901-8f77-495db2c9663a",
            "name": "Resolve Company",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -672,
                1856
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "company-param-integrated",
                            "name": "query.company",
                            "value": "psi",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -896,
                1760
            ],
            "id": "4de94cd3-efc6-4aa0-8dd1-11823a4e8cd6",
            "name": "Set Company"
        },
        {
            "parameters": {
                "jsCode": "const rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : [i.json]);\nconst entities = [\n  'recursos','ps_year','proyectos','equipo_proyectos','job_task','centros_de_responsabilidad',\n  'configuracion_usuarios','tecnologias','tipologias','departamentos','movimientos_proyectos'\n];\nconst byEntity = {};\nfor (const r of rows) {\n  const e = String(r.entity || '').trim();\n  const raw = String(r.last_sync_at || '').trim();\n  if (!e || !raw) continue;\n  const iso = new Date(raw.replace(' ', 'T')).toISOString();\n  byEntity[e] = iso;\n}\nconst defaultDate = '1900-01-01T00:00:00.000Z';\nfor (const entity of entities) if (!byEntity[entity]) byEntity[entity] = defaultDate;\nconst items = [];\nconst companyName = $('Resolve Company').first().json.companyName;\nconst companyId = $('Resolve Company').first().json.companyId;\nfor (const entity of entities) items.push({ json: { syncStateByEntity: byEntity, company: companyName, companyId, entity } });\nreturn items;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -224,
                1856
            ],
            "id": "f8a3c05a-65aa-4564-be8c-2013cbb4c792",
            "name": "Build sync_state map"
        },
        {
            "parameters": {
                "url": "={{ \n  'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies('\n  + $('Build sync_state map').first().json.companyId\n  + ')/ProyectosTareas?$filter=lastModifiedDateTime%20ge%20'\n  + $('Build sync_state map').first().json.syncStateByEntity['job_task']\n}}",
                "authentication": "genericCredentialType",
                "genericAuthType": "oAuth2Api",
                "options": {}
            },
            "id": "242354b2-6149-46f0-b02d-c7b7799c9ecd",
            "name": "BC API - ProyectosTareas",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                0,
                1424
            ],
            "credentials": {
                "oAuth2Api": {
                    "id": "WvL0ymQem3Y2ptqz",
                    "name": "Unnamed credential"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const input = $input.all();\nif (input.length === 0) return [];\nconst raw = input[0]?.json ?? {};\nconst src = raw?.body ?? raw;\nconst registros = Array.isArray(src.value) ? src.value : (Array.isArray(src) ? src : [src]);\nconst items = [];\nconst companyName = $items('Build sync_state map')[0]?.json?.company || '';\nfor (const r of registros) {\n  const jobNo = String(r.job_no ?? r.jobNo ?? r.projectNo ?? '').trim();\n  const taskNo = String(r.no ?? r.task_no ?? r.taskNo ?? '').trim();\n  const description = String(r.description ?? '').trim();\n  const timesheetBlocked = (r.ARBVRNTimeSheetBlocked === true) || String(r.ARBVRNTimeSheetBlocked).toLowerCase().match(/^(true|1|t|yes)$/);\n  if (!jobNo || !taskNo) continue;\n  items.push({ json: { companyName, jobNo, taskNo, description, timesheetBlocked } });\n}\nreturn items;"
            },
            "id": "5a01e503-d04a-4500-ae1c-40965fbe07f3",
            "name": "Transform ProyectosTareas",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                1488
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.job_task\n(company_name, job_no, no, description, timesheet_blocked)\nSELECT\n  $1,\n  $2,\n  $3,\n  $4,\n  CASE WHEN $5::text IN ('true','1','t','yes') THEN true ELSE false END\nWHERE $2::text <> '' AND $3::text <> ''\nON CONFLICT (job_no, no, company_name)\nDO UPDATE SET\n  description = EXCLUDED.description,\n  timesheet_blocked = EXCLUDED.timesheet_blocked\nRETURNING *;",
                "options": {
                    "queryReplacement": "{{$json.companyName}}\n{{$json.jobNo}}\n{{$json.taskNo}}\n{{$json.description}}\n{{ $json.timesheetBlocked ? 'true' : 'false' }}"
                }
            },
            "id": "cab1dbbc-73a4-4937-9e3c-ecc016078278",
            "name": "Upsert Job Task",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                448,
                1488
            ],
            "credentials": {
                "postgres": {
                    "id": "aF1OnLqFL94UmPRU",
                    "name": "Postgres account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const err = $node['Upsert Job Task']?.json?.error;\nif (err) { return []; }\nconst companyName = $items('Build sync_state map')[0]?.json?.company || '';\nreturn [{ json: { companyName, nowIso: new Date().toISOString() } }];"
            },
            "id": "e77f789c-e627-4257-a265-2c0743c75294",
            "name": "Compute now ISO (Job Task)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                1536
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sync_state",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "company_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Build sync_state map').first().json.company }}"
                        },
                        {
                            "keyName": "entity",
                            "condition": "eq",
                            "keyValue": "job_task"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "last_sync_at",
                            "fieldValue": "={{ $json.nowIso }}"
                        }
                    ]
                }
            },
            "id": "ac11f8b9-3530-44f1-9a3f-81658b79b9e7",
            "name": "Update sync_state (Job Task)",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                896,
                1536
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "0eEJakollgPP3g3u",
                    "name": "Supabase Analytics"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nlet failed = 0;\nlet firstErr = '';\nfor (const it of items) {\n  const j = it?.json || {};\n  const statusCode = Number(j?.statusCode ?? j?.response?.statusCode ?? 0);\n  const bodyErr = j?.body?.error?.message || (typeof j?.body === 'string' ? j.body : null);\n  const msg = j?.error?.message || j?.message || j?.data?.error || j?.response?.body || j?.responseBody || bodyErr || null;\n  if (!firstErr && msg) firstErr = String(msg);\n  if (msg || statusCode >= 400) failed++;\n}\nconst success = items.length - failed;\nconst synced = success;\nconst res = { key: 'job_task', causeNode: 'Upsert Job Task' };\nif (failed > 0) { res.status = 'error'; res.synced = success; res.failed = failed; res.message = firstErr || ('HTTP ' + (items[0]?.json?.statusCode || 'error')); } else { res.status = 'ok'; res.synced = synced; res.success = success; }\nreturn [{ json: res }];"
            },
            "id": "6707e77e-a724-43da-8a2f-a68f10cea98c",
            "name": "Result Job Task",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                1328
            ]
        },
        {
            "parameters": {
                "url": "={{ \n  'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies('\n  + $('Build sync_state map').first().json.companyId\n  + ')/CentrosDeResponsabilidad?$select=code,globalDimension1Code,eMail,lastModifiedDateTime&$filter=lastModifiedDateTime%20ge%20'\n  + $('Build sync_state map').first().json.syncStateByEntity['centros_de_responsabilidad']\n}}",
                "authentication": "genericCredentialType",
                "genericAuthType": "oAuth2Api",
                "options": {}
            },
            "id": "fa512cc6-4608-46a8-b874-a70167400762",
            "name": "BC API - CentrosDeResponsabilidad",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                0,
                2288
            ],
            "credentials": {
                "oAuth2Api": {
                    "id": "WvL0ymQem3Y2ptqz",
                    "name": "Unnamed credential"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const input = $input.all();\nif (!input.length) return [];\nconst raw = input[0]?.json ?? {};\nconst src = raw?.body ?? raw;\nconst val = Array.isArray(src.value) ? src.value : (Array.isArray(src) ? src : [src]);\nconst out = [];\nconst companyName = $items('Build sync_state map')[0]?.json?.company || '';\nfor (const r of val) {\n  const code = String(r.code ?? '').trim();\n  if (!code) continue;\n  out.push({ json: { companyName, code, global_dimension1_code: String(r.globalDimension1Code ?? '').trim(), email: String(r.eMail ?? '').trim(), lastModifiedDateTime: String(r.lastModifiedDateTime ?? '').trim() } });\n}\nreturn out;"
            },
            "id": "097c1f45-afc4-4e16-a5db-8dce56ba8139",
            "name": "Transform CentrosDeResponsabilidad",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                2352
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.centros_de_responsabilidad\n(company_name, code, global_dimension1_code, email, last_modified_datetime, updated_at)\nSELECT\n  $1, $2, $3, NULLIF(btrim($4),''), NULLIF($5::text,'')::timestamptz, NOW()\nWHERE $2::text <> ''\nON CONFLICT (company_name, code) DO UPDATE SET\n  company_name = EXCLUDED.company_name,\n  global_dimension1_code = EXCLUDED.global_dimension1_code,\n  email = EXCLUDED.email,\n  last_modified_datetime = EXCLUDED.last_modified_datetime,\n  updated_at = NOW();",
                "options": {
                    "queryReplacement": "{{$json.companyName}}\n{{$json.code}}\n{{$json.global_dimension1_code}}\n{{$json.email}}\n{{$json.lastModifiedDateTime}}"
                }
            },
            "id": "a61b5386-eeaf-41c7-8374-95fb3b6d9776",
            "name": "Upsert CentrosDeResponsabilidad",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                448,
                2352
            ],
            "credentials": {
                "postgres": {
                    "id": "aF1OnLqFL94UmPRU",
                    "name": "Postgres account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const err = $node['Upsert CentrosDeResponsabilidad']?.json?.error;\nif (err) { return []; }\nconst companyName = $items('Build sync_state map')[0]?.json?.company || '';\nreturn [{ json: { companyName, nowIso: new Date().toISOString() } }];"
            },
            "id": "eee818b1-740c-4312-85eb-1be5c2c6b791",
            "name": "Compute now ISO (CentrosDeResponsabilidad)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                2400
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sync_state",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "company_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Build sync_state map').first().json.company }}"
                        },
                        {
                            "keyName": "entity",
                            "condition": "eq",
                            "keyValue": "centros_de_responsabilidad"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "last_sync_at",
                            "fieldValue": "={{ $json.nowIso }}"
                        }
                    ]
                }
            },
            "id": "e1a1c24f-4780-49f2-b931-351ef0a47cee",
            "name": "Update sync_state (CentrosDeResponsabilidad)",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                896,
                2400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "0eEJakollgPP3g3u",
                    "name": "Supabase Analytics"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all(); let failed = 0; let firstErr = '';\nfor (const it of items) { const j = it?.json || {}; const statusCode = Number(j?.statusCode ?? j?.response?.statusCode ?? 0); const bodyErr = j?.body?.error?.message || (typeof j?.body === 'string' ? j.body : null); const msg = j?.error?.message || j?.message || j?.data?.error || j?.response?.body || j?.responseBody || bodyErr || null; if (!firstErr && msg) firstErr = String(msg); if (msg || statusCode >= 400) failed++; }\nconst success = items.length - failed; const synced = success; const res = { key: 'centros_de_responsabilidad', causeNode: 'Upsert CentrosDeResponsabilidad' };\nif (failed > 0) { res.status = 'error'; res.synced = success; res.failed = failed; res.message = firstErr || ('HTTP ' + (items[0]?.json?.statusCode || 'error')); } else { res.status = 'ok'; res.synced = synced; res.success = success; }\nreturn [{ json: res }];"
            },
            "id": "e810ffb9-a9ea-4d9c-ac37-c0f562aa1ed5",
            "name": "Result CentrosDeResponsabilidad",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                2192
            ]
        },
        {
            "parameters": {
                "url": "={{ \n  'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies('\n  + $('Build sync_state map').first().json.companyId\n  + ')/ConfiguracionUsuarios?$select=userID,eMail,arbvrnJobresponsabilityfilter,projectteamfilter,Departamento,lastModifiedDateTime&$filter=lastModifiedDateTime%20ge%20'\n  + $('Build sync_state map').first().json.syncStateByEntity['configuracion_usuarios']\n}}",
                "authentication": "genericCredentialType",
                "genericAuthType": "oAuth2Api",
                "options": {}
            },
            "id": "cb8d0ddb-efc1-4c85-8d4a-6ad023985795",
            "name": "BC API - ConfiguracionUsuarios",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1120,
                2400
            ],
            "credentials": {
                "oAuth2Api": {
                    "id": "WvL0ymQem3Y2ptqz",
                    "name": "Unnamed credential"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const input=$input.all(); if(!input.length) return []; const raw=input[0]?.json??{}; const src=raw?.body??raw; const val=Array.isArray(src.value)?src.value:(Array.isArray(src)?src:[src]); const out=[]; const companyName=$items('Build sync_state map')[0]?.json?.company||''; for(const r of val){ const userId=String(r.userID??'').trim(); if(!userId) continue; out.push({json:{ companyName, user_id:userId, email:String(r.eMail??'').trim(), arbvrn_job_responsability_filter:String(r.arbvrnJobresponsabilityfilter??'').trim(), projectteamfilter:String(r.projectteamfilter??'').trim(), departamento:String(r.Departamento??'').trim() }});} return out;"
            },
            "id": "b01e5032-02d9-4d8e-9b35-35b3d5aefa2f",
            "name": "Transform ConfiguracionUsuarios",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1344,
                2480
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.configuracion_usuarios\n(company_name, user_id, email, arbvrn_job_responsability_filter, projectteamfilter, departamento, updated_at)\nSELECT\n  $1, $2, NULLIF(btrim($3),''), NULLIF(btrim($4),''), NULLIF(btrim($5),''), $6, NOW()\nWHERE $2::text <> ''\nON CONFLICT (company_name, user_id) DO UPDATE SET\n  email = EXCLUDED.email,\n  arbvrn_job_responsability_filter = EXCLUDED.arbvrn_job_responsability_filter,\n  projectteamfilter = EXCLUDED.projectteamfilter,\n  departamento = EXCLUDED.departamento,\n  updated_at = NOW();",
                "options": {
                    "queryReplacement": "{{$json.companyName}}\n{{$json.user_id}}\n{{$json.email}}\n{{$json.arbvrn_job_responsability_filter}}\n{{$json.projectteamfilter}}\n{{$json.departamento}}"
                }
            },
            "id": "c52b7f83-5d55-48f5-abbc-38f1c8f022bd",
            "name": "Upsert ConfiguracionUsuarios",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                1568,
                2480
            ],
            "credentials": {
                "postgres": {
                    "id": "aF1OnLqFL94UmPRU",
                    "name": "Postgres account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const err=$node['Upsert ConfiguracionUsuarios']?.json?.error; if(err){return [];} const companyName=$items('Build sync_state map')[0]?.json?.company||''; return [{json:{companyName, nowIso:new Date().toISOString()}}];"
            },
            "id": "03d0a8af-42a0-4b2c-a05b-34597bb772a0",
            "name": "Compute now ISO (ConfiguracionUsuarios)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1792,
                2528
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sync_state",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "company_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Build sync_state map').first().json.company }}"
                        },
                        {
                            "keyName": "entity",
                            "condition": "eq",
                            "keyValue": "configuracion_usuarios"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "last_sync_at",
                            "fieldValue": "={{ $json.nowIso }}"
                        }
                    ]
                }
            },
            "id": "76553f7f-0cc3-4b53-8d28-e0a46153cdbe",
            "name": "Update sync_state (ConfiguracionUsuarios)",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2016,
                2528
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "0eEJakollgPP3g3u",
                    "name": "Supabase Analytics"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items=$input.all(); let failed=0; let firstErr=''; for(const it of items){ const j=it?.json||{}; const statusCode=Number(j?.statusCode??j?.response?.statusCode??0); const bodyErr=j?.body?.error?.message||(typeof j?.body==='string'?j.body:null); const msg=j?.error?.message||j?.message||j?.data?.error||j?.response?.body||j?.responseBody||bodyErr||null; if(!firstErr&&msg) firstErr=String(msg); if(msg||statusCode>=400) failed++; } const success=items.length-failed; const synced=success; const res={ key:'configuracion_usuarios', causeNode:'Upsert ConfiguracionUsuarios'}; if(failed>0){ res.status='error'; res.synced=success; res.failed=failed; res.message=firstErr||('HTTP '+(items[0]?.json?.statusCode||'error')); } else { res.status='ok'; res.synced=synced; res.success=success; } return [{json:res}];"
            },
            "id": "4d273236-33e9-44f7-a665-85b54a828f41",
            "name": "Result ConfiguracionUsuarios",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1792,
                1472
            ]
        },
        {
            "parameters": {
                "url": "={{ \n  'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies('\n  + $('Build sync_state map').first().json.companyId\n  + ')/Tecnologias?$select=code,name,lastModifiedDateTime&$filter=lastModifiedDateTime%20ge%20'\n  + $('Build sync_state map').first().json.syncStateByEntity['tecnologias']\n}}\n",
                "authentication": "genericCredentialType",
                "genericAuthType": "oAuth2Api",
                "options": {}
            },
            "id": "c8737db9-197b-4cca-ba92-cac699a53d9f",
            "name": "BC API - Tecnologias",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                0,
                2720
            ],
            "credentials": {
                "oAuth2Api": {
                    "id": "WvL0ymQem3Y2ptqz",
                    "name": "Unnamed credential"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const input = $input.all();\nif (!input.length) return [];\nconst raw = input[0]?.json ?? {};\nconst src = raw?.body ?? raw;\nconst val = Array.isArray(src.value) ? src.value : (Array.isArray(src) ? src : [src]);\nconst out = [];\nconst companyName = $items('Build sync_state map')[0]?.json?.company || '';\nfor (const r of val) {\n  const code = String(r.code ?? '').trim();\n  if (!code) continue;\n  out.push({ json: { companyName, code, name: String(r.name ?? '').trim(), dimension_code: 'TECNOLOG\u00cdA', lastModifiedDateTime: String(r.lastModifiedDateTime ?? '').trim() } });\n}\nreturn out;\n"
            },
            "id": "b0164d3e-cdcc-4975-a138-3e284add5620",
            "name": "Transform Tecnologias",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                2784
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.tecnologias\n(company_name, code, name, dimension_code, last_modified_datetime, updated_at)\nSELECT\n  $1, $2, $3, $4,\n  NULLIF($5::text,'')::timestamptz,\n  NOW()\nWHERE $2::text <> ''\nON CONFLICT (company_name, code)\nDO UPDATE SET\n  name = EXCLUDED.name,\n  dimension_code = EXCLUDED.dimension_code,\n  last_modified_datetime = EXCLUDED.last_modified_datetime,\n  updated_at = NOW();\n",
                "options": {
                    "queryReplacement": "{{$json.companyName}}\n{{$json.code}}\n{{$json.name}}\n{{$json.dimension_code}}\n{{$json.lastModifiedDateTime}}\n"
                }
            },
            "id": "4a3112b4-0791-4b88-937b-c760cd4ae023",
            "name": "Upsert Tecnologias",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                448,
                2784
            ],
            "credentials": {
                "postgres": {
                    "id": "aF1OnLqFL94UmPRU",
                    "name": "Postgres account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const err=$node['Upsert Tecnologias']?.json?.error; if(err){return [];} const companyName=$items('Build sync_state map')[0]?.json?.company||''; return [{json:{companyName, nowIso:new Date().toISOString()}}];"
            },
            "id": "8b18a8b8-fe70-426c-916b-2bae0bcebe4b",
            "name": "Compute now ISO (Tecnologias)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                2832
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sync_state",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "company_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Build sync_state map').first().json.company }}"
                        },
                        {
                            "keyName": "entity",
                            "condition": "eq",
                            "keyValue": "tecnologias"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "last_sync_at",
                            "fieldValue": "={{ $json.nowIso }}"
                        }
                    ]
                }
            },
            "id": "4f71c592-aeb2-4068-bf0a-2f2053b2c28a",
            "name": "Update sync_state (Tecnologias)",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                896,
                2832
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "0eEJakollgPP3g3u",
                    "name": "Supabase Analytics"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items=$input.all(); let failed=0; let firstErr=''; for(const it of items){ const j=it?.json||{}; const statusCode=Number(j?.statusCode??j?.response?.statusCode??0); const bodyErr=j?.body?.error?.message||(typeof j?.body==='string'?j.body:null); const msg=j?.error?.message||j?.message||j?.data?.error||j?.response?.body||j?.responseBody||bodyErr||null; if(!firstErr&&msg) firstErr=String(msg); if(msg||statusCode>=400) failed++; } const success=items.length-failed; const synced=success; const res={ key:'tecnologias', causeNode:'Upsert Tecnologias'}; if(failed>0){ res.status='error'; res.synced=success; res.failed=failed; res.message=firstErr||('HTTP '+(items[0]?.json?.statusCode||'error')); } else { res.status='ok'; res.synced=synced; res.success=success; } return [{json:res}];"
            },
            "id": "bc75cc26-9ba2-4a10-82aa-7de4359c74ac",
            "name": "Result Tecnologias",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                2624
            ]
        },
        {
            "parameters": {
                "url": "={{ \n  'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies('\n  + $('Build sync_state map').first().json.companyId\n  + ')/Tipologias?$select=code,name,lastModifiedDateTime&$filter=lastModifiedDateTime%20ge%20'\n  + $('Build sync_state map').first().json.syncStateByEntity['tipologias']\n}}\n",
                "authentication": "genericCredentialType",
                "genericAuthType": "oAuth2Api",
                "options": {}
            },
            "id": "15339bc8-d602-4058-a683-2efcd2652ec7",
            "name": "BC API - Tipologias",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                0,
                3152
            ],
            "credentials": {
                "oAuth2Api": {
                    "id": "WvL0ymQem3Y2ptqz",
                    "name": "Unnamed credential"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const input = $input.all();\nif (!input.length) return [];\nconst raw = input[0]?.json ?? {};\nconst src = raw?.body ?? raw;\nconst val = Array.isArray(src.value) ? src.value : (Array.isArray(src) ? src : [src]);\nconst out = [];\nconst companyName = $items('Build sync_state map')[0]?.json?.company || '';\nfor (const r of val) {\n  const code = String(r.code ?? '').trim();\n  if (!code) continue;\n  out.push({ json: { companyName, code, name: String(r.name ?? '').trim(), dimension_code: 'TIPOLOG\u00cdA', lastModifiedDateTime: String(r.lastModifiedDateTime ?? '').trim() } });\n}\nreturn out;\n"
            },
            "id": "6392c313-3561-41d9-b2cf-61a508ebe7a8",
            "name": "Transform Tipologias",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                3216
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.tipologias\n(company_name, code, name, dimension_code, last_modified_datetime, updated_at)\nSELECT\n  $1, $2, $3, $4,\n  NULLIF($5::text,'')::timestamptz,\n  NOW()\nWHERE $2::text <> ''\nON CONFLICT (company_name, code)\nDO UPDATE SET\n  name = EXCLUDED.name,\n  dimension_code = EXCLUDED.dimension_code,\n  last_modified_datetime = EXCLUDED.last_modified_datetime,\n  updated_at = NOW();\n",
                "options": {
                    "queryReplacement": "{{$json.companyName}}\n{{$json.code}}\n{{$json.name}}\n{{$json.dimension_code}}\n{{$json.lastModifiedDateTime}}\n"
                }
            },
            "id": "08df6fff-2d7c-427b-9737-70f59d3468bf",
            "name": "Upsert Tipologias",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                448,
                3216
            ],
            "credentials": {
                "postgres": {
                    "id": "aF1OnLqFL94UmPRU",
                    "name": "Postgres account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const err=$node['Upsert Tipologias']?.json?.error; if(err){return [];} const companyName=$items('Build sync_state map')[0]?.json?.company||''; return [{json:{companyName, nowIso:new Date().toISOString()}}];"
            },
            "id": "17f1895a-f1e7-40ba-be52-696165c1db9b",
            "name": "Compute now ISO (Tipologias)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                3264
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sync_state",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "company_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Build sync_state map').first().json.company }}"
                        },
                        {
                            "keyName": "entity",
                            "condition": "eq",
                            "keyValue": "tipologias"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "last_sync_at",
                            "fieldValue": "={{ $json.nowIso }}"
                        }
                    ]
                }
            },
            "id": "fb3f56cc-a2fc-46d3-a5d3-33e675358393",
            "name": "Update sync_state (Tipologias)",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                896,
                3264
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "0eEJakollgPP3g3u",
                    "name": "Supabase Analytics"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items=$input.all(); let failed=0; let firstErr=''; for(const it of items){ const j=it?.json||{}; const statusCode=Number(j?.statusCode??j?.response?.statusCode??0); const bodyErr=j?.body?.error?.message||(typeof j?.body==='string'?j.body:null); const msg=j?.error?.message||j?.message||j?.data?.error||j?.response?.body||j?.responseBody||bodyErr||null; if(!firstErr&&msg) firstErr=String(msg); if(msg||statusCode>=400) failed++; } const success=items.length-failed; const synced=success; const res={ key:'tipologias', causeNode:'Upsert Tipologias'}; if(failed>0){ res.status='error'; res.synced=success; res.failed=failed; res.message=firstErr||('HTTP '+(items[0]?.json?.statusCode||'error')); } else { res.status='ok'; res.synced=synced; res.success=success; } return [{json:res}];"
            },
            "id": "6a85ff73-ce68-45ed-9421-be804f07306c",
            "name": "Result Tipologias",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                3056
            ]
        },
        {
            "parameters": {
                "url": "={{ \n  'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies('\n  + $('Build sync_state map').first().json.companyId\n  + ')/Departamentos?$select=code,name,lastModifiedDateTime&$filter=lastModifiedDateTime%20ge%20'\n  + $('Build sync_state map').first().json.syncStateByEntity['departamentos']\n}}\n",
                "authentication": "genericCredentialType",
                "genericAuthType": "oAuth2Api",
                "options": {}
            },
            "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
            "name": "BC API - Departamentos",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                0,
                3408
            ],
            "credentials": {
                "oAuth2Api": {
                    "id": "WvL0ymQem3Y2ptqz",
                    "name": "Unnamed credential"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const input = $input.all();\nif (!input.length) return [];\nconst raw = input[0]?.json ?? {};\nconst src = raw?.body ?? raw;\nconst val = Array.isArray(src.value) ? src.value : (Array.isArray(src) ? src : [src]);\nconst out = [];\nconst companyName = $items('Build sync_state map')[0]?.json?.company || '';\nfor (const r of val) {\n  const code = String(r.code ?? '').trim();\n  if (!code) continue;\n  out.push({ json: { companyName, code, name: String(r.name ?? '').trim(), dimension_code: 'DPTO', lastModifiedDateTime: String(r.lastModifiedDateTime ?? '').trim() } });\n}\nreturn out;\n"
            },
            "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
            "name": "Transform Departamentos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                3472
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.departamentos\n(company_name, code, name, dimension_code, last_modified_datetime, updated_at)\nSELECT\n  $1, $2, $3, $4,\n  NULLIF($5::text,'')::timestamptz,\n  NOW()\nWHERE $2::text <> ''\nON CONFLICT (company_name, code)\nDO UPDATE SET\n  name = EXCLUDED.name,\n  dimension_code = EXCLUDED.dimension_code,\n  last_modified_datetime = EXCLUDED.last_modified_datetime,\n  updated_at = NOW();\n",
                "options": {
                    "queryReplacement": "{{$json.companyName}}\n{{$json.code}}\n{{$json.name}}\n{{$json.dimension_code}}\n{{$json.lastModifiedDateTime}}\n"
                }
            },
            "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
            "name": "Upsert Departamentos",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                448,
                3472
            ],
            "credentials": {
                "postgres": {
                    "id": "aF1OnLqFL94UmPRU",
                    "name": "Postgres account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const err=$node['Upsert Departamentos']?.json?.error; if(err){return [];} const companyName=$items('Build sync_state map')[0]?.json?.company||''; return [{json:{companyName, nowIso:new Date().toISOString()}}];"
            },
            "id": "d4e5f6a7-b8c9-0123-def4-456789012345",
            "name": "Compute now ISO (Departamentos)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                3520
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sync_state",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "company_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Build sync_state map').first().json.company }}"
                        },
                        {
                            "keyName": "entity",
                            "condition": "eq",
                            "keyValue": "departamentos"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "last_sync_at",
                            "fieldValue": "={{ $json.nowIso }}"
                        }
                    ]
                }
            },
            "id": "e5f6a7b8-c9d0-1234-ef56-567890123456",
            "name": "Update sync_state (Departamentos)",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                896,
                3520
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "0eEJakollgPP3g3u",
                    "name": "Supabase Analytics"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items=$input.all(); let failed=0; let firstErr=''; for(const it of items){ const j=it?.json||{}; const statusCode=Number(j?.statusCode??j?.response?.statusCode??0); const bodyErr=j?.body?.error?.message||(typeof j?.body==='string'?j.body:null); const msg=j?.error?.message||j?.message||j?.data?.error||j?.response?.body||j?.responseBody||bodyErr||null; if(!firstErr&&msg) firstErr=String(msg); if(msg||statusCode>=400) failed++; } const success=items.length-failed; const synced=success; const res={ key:'departamentos', causeNode:'Upsert Departamentos'}; if(failed>0){ res.status='error'; res.synced=success; res.failed=failed; res.message=firstErr||('HTTP '+(items[0]?.json?.statusCode||'error')); } else { res.status='ok'; res.synced=synced; res.success=success; } return [{json:res}];"
            },
            "id": "f6a7b8c9-d0e1-2345-f678-678901234567",
            "name": "Result Departamentos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                3312
            ]
        },
        {
            "parameters": {
                "url": "={{ \n  'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies('\n  + $('Build sync_state map').first().json.companyId\n  + ')/MovimientosProyectos?$select=entryNo,entryType,documentNo,jobNo,jobTaskNo,no,description,quantity,originalUnitCost,totalCost,unitPrice,totalPrice,GlobalDimension2Code,GlobalDimension1Code,GlobalDimension5Code,GlobalDimension4Code,TimeSheetDate,DocumentDate,Origen,LinePrice,lastModifiedDateTime&$filter=lastModifiedDateTime%20ge%20'\n  + $('Build sync_state map').first().json.syncStateByEntity['movimientos_proyectos']\n}}",
                "authentication": "genericCredentialType",
                "genericAuthType": "oAuth2Api",
                "options": {}
            },
            "id": "3924c644-99b8-4edf-8db5-aa66d6eb4042",
            "name": "BC API - MovimientosProyectos",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                0,
                3584
            ],
            "credentials": {
                "oAuth2Api": {
                    "id": "WvL0ymQem3Y2ptqz",
                    "name": "Unnamed credential"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const input=$input.all(); if(!input.length) return []; const raw=input[0]?.json??{}; const src=raw?.body??raw; const val=Array.isArray(src.value)?src.value:(Array.isArray(src)?src:[src]); const out=[]; const companyName=$items('Build sync_state map')[0]?.json?.company||''; const cleanDate=v=>{const s=String(v??'').trim(); if(!s||s==='0001-01-01') return ''; return s;}; const toNum=(v)=>{ if(v===null||v===undefined) return ''; const s=String(v).trim(); const n=Number(s); return Number.isFinite(n)? String(n) : ''; }; for(const r of val){ const entryNo=Number(r.entryNo??0)||0; if(entryNo===0) continue; out.push({json:{ companyName, entry_no: entryNo, entry_type: toNum(r.entryType), document_no:String(r.documentNo??''), job_no:String(r.jobNo??''), job_task_no:String(r.jobTaskNo??''), no:String(r.no??''), description:String(r.description??''), quantity:String(r.quantity??''), original_unit_cost:String(r.originalUnitCost??''), total_cost:String(r.totalCost??''), unit_price:String(r.unitPrice??''), total_price:String(r.totalPrice??''), global_dimension2_code:String(r.GlobalDimension2Code??''), global_dimension1_code:String(r.GlobalDimension1Code??''), global_dimension5_code:String(r.GlobalDimension5Code??''), global_dimension4_code:String(r.GlobalDimension4Code??''), timesheet_date:cleanDate(r.TimeSheetDate??''), document_date:cleanDate(r.DocumentDate??''), origen:String(r.Origen??''), line_price:String(r.LinePrice??''), lastModifiedDateTime:String(r.lastModifiedDateTime??'') }});} return out;\n"
            },
            "id": "fe3f0b4f-a0b3-43b4-a54a-89878dbfbad5",
            "name": "Transform MovimientosProyectos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                3648
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.movimientos_proyectos\n(company_name, entry_no, entry_type, document_no, job_no, job_task_no, no, description, quantity, original_unit_cost, total_cost, unit_price, total_price, global_dimension2_code, global_dimension1_code, global_dimension5_code, global_dimension4_code, timesheet_date, document_date, origen, line_price, last_modified_datetime, updated_at)\nSELECT $1,\n       $2,\n       NULLIF($3::text,'')::integer,\n       $4,\n       $5,\n       $6,\n       $7,\n       $8,\n       NULLIF($9::text,'')::numeric,\n       NULLIF($10::text,'')::numeric,\n       NULLIF($11::text,'')::numeric,\n       NULLIF($12::text,'')::numeric,\n       NULLIF($13::text,'')::numeric,\n       $14,\n       $15,\n       $16,\n       $17,\n       NULLIF(NULLIF($18::text,''),'0001-01-01')::date,\n       NULLIF(NULLIF($19::text,''),'0001-01-01')::date,\n       $20,\n       NULLIF($21::text,'')::numeric,\n       NULLIF($22::text,'')::timestamptz,\n       NOW()\nWHERE $2::int <> 0\nON CONFLICT (company_name, entry_no) DO UPDATE SET\n  entry_type = EXCLUDED.entry_type,\n  document_no = EXCLUDED.document_no,\n  job_no = EXCLUDED.job_no,\n  job_task_no = EXCLUDED.job_task_no,\n  no = EXCLUDED.no,\n  description = EXCLUDED.description,\n  quantity = EXCLUDED.quantity,\n  original_unit_cost = EXCLUDED.original_unit_cost,\n  total_cost = EXCLUDED.total_cost,\n  unit_price = EXCLUDED.unit_price,\n  total_price = EXCLUDED.total_price,\n  global_dimension2_code = EXCLUDED.global_dimension2_code,\n  global_dimension1_code = EXCLUDED.global_dimension1_code,\n  global_dimension5_code = EXCLUDED.global_dimension5_code,\n  global_dimension4_code = EXCLUDED.global_dimension4_code,\n  timesheet_date = EXCLUDED.timesheet_date,\n  document_date = EXCLUDED.document_date,\n  origen = EXCLUDED.origen,\n  line_price = EXCLUDED.line_price,\n  last_modified_datetime = EXCLUDED.last_modified_datetime,\n  updated_at = NOW();\n",
                "options": {
                    "queryReplacement": "{{$json.companyName}}\n{{$json.entry_no}}\n{{$json.entry_type}}\n{{$json.document_no}}\n{{$json.job_no}}\n{{$json.job_task_no}}\n{{$json.no}}\n{{$json.description}}\n{{$json.quantity}}\n{{$json.original_unit_cost}}\n{{$json.total_cost}}\n{{$json.unit_price}}\n{{$json.total_price}}\n{{$json.global_dimension2_code}}\n{{$json.global_dimension1_code}}\n{{$json.global_dimension5_code}}\n{{$json.global_dimension4_code}}\n{{$json.timesheet_date}}\n{{$json.document_date}}\n{{$json.origen}}\n{{$json.line_price}}\n{{$json.lastModifiedDateTime}}"
                }
            },
            "id": "ccba918a-f74f-40a7-b0c4-7b83dddf9b62",
            "name": "Upsert MovimientosProyectos",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                448,
                3648
            ],
            "credentials": {
                "postgres": {
                    "id": "aF1OnLqFL94UmPRU",
                    "name": "Postgres account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const err=$node['Upsert MovimientosProyectos']?.json?.error; if(err){return [];} const companyName=$items('Build sync_state map')[0]?.json?.company||''; return [{json:{companyName, nowIso:new Date().toISOString()}}];"
            },
            "id": "9ee02eaf-bb2e-45e7-9097-fcd90bc7014b",
            "name": "Compute now ISO (MovimientosProyectos)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                3696
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sync_state",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "company_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Build sync_state map').first().json.company }}"
                        },
                        {
                            "keyName": "entity",
                            "condition": "eq",
                            "keyValue": "movimientos_proyectos"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "last_sync_at",
                            "fieldValue": "={{ $json.nowIso }}"
                        }
                    ]
                }
            },
            "id": "60dba48f-e0f9-4c13-b1c0-7803c551139c",
            "name": "Update sync_state (MovimientosProyectos)",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                896,
                3696
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "0eEJakollgPP3g3u",
                    "name": "Supabase Analytics"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items=$input.all(); let failed=0; let firstErr=''; for(const it of items){ const j=it?.json||{}; const statusCode=Number(j?.statusCode??j?.response?.statusCode??0); const bodyErr=j?.body?.error?.message||(typeof j?.body==='string'?j.body:null); const msg=j?.error?.message||j?.message||j?.data?.error||j?.response?.body||j?.responseBody||bodyErr||null; if(!firstErr&&msg) firstErr=String(msg); if(msg||statusCode>=400) failed++; } const success=items.length-failed; const synced=success; const res={ key:'movimientos_proyectos', causeNode:'Upsert MovimientosProyectos'}; if(failed>0){ res.status='error'; res.synced=success; res.failed=failed; res.message=firstErr||('HTTP '+(items[0]?.json?.statusCode||'error')); } else { res.status='ok'; res.synced=synced; res.success=success; } return [{json:res}];"
            },
            "id": "0526fd1d-3a96-414c-bcd4-356190539164",
            "name": "Result MovimientosProyectos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                3488
            ]
        }
    ],
    "connections": {
        "Webhook Start": {
            "main": [
                [
                    {
                        "node": "Resolve Company",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BC API - Recursos": {
            "main": [
                [
                    {
                        "node": "Transform Recursos",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result Recursos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BC API - PS_Years": {
            "main": [
                [
                    {
                        "node": "Transform PS_Years",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result PS_Years",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BC API - Proyectos": {
            "main": [
                [
                    {
                        "node": "Transform Proyectos",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result Proyectos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BC API - Equipo Proyectos": {
            "main": [
                [
                    {
                        "node": "Transform Equipo Proyectos",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result Equipo Proyectos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Recursos": {
            "main": [
                [
                    {
                        "node": "Compute now ISO (Recursos)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result Recursos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert PS_Year": {
            "main": [
                [
                    {
                        "node": "Compute now ISO (PS_Years)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result PS_Years",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Proyectos": {
            "main": [
                [
                    {
                        "node": "Compute now ISO (Proyectos)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result Proyectos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Equipo Proyectos": {
            "main": [
                [
                    {
                        "node": "Compute now ISO (Equipo Proyectos)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result Equipo Proyectos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When clicking 'Execute workflow'": {
            "main": [
                [
                    {
                        "node": "Set Company",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform Recursos": {
            "main": [
                [
                    {
                        "node": "Upsert Recursos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform PS_Years": {
            "main": [
                [
                    {
                        "node": "Upsert PS_Year",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform Proyectos": {
            "main": [
                [
                    {
                        "node": "Upsert Proyectos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform Equipo Proyectos": {
            "main": [
                [
                    {
                        "node": "Upsert Equipo Proyectos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute now ISO (Recursos)": {
            "main": [
                [
                    {
                        "node": "Update sync_state (Recursos)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute now ISO (PS_Years)": {
            "main": [
                [
                    {
                        "node": "Update sync_state (PS_Years)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute now ISO (Proyectos)": {
            "main": [
                [
                    {
                        "node": "Update sync_state (Proyectos)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute now ISO (Equipo Proyectos)": {
            "main": [
                [
                    {
                        "node": "Update sync_state (Equipo Proyectos)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get sync_state ALL": {
            "main": [
                [
                    {
                        "node": "Build sync_state map",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Resolve Company": {
            "main": [
                [
                    {
                        "node": "Get sync_state ALL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Company": {
            "main": [
                [
                    {
                        "node": "Resolve Company",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build sync_state map": {
            "main": [
                [
                    {
                        "node": "BC API - Recursos",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "BC API - PS_Years",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "BC API - Proyectos",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "BC API - Equipo Proyectos",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "BC API - ProyectosTareas",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "BC API - CentrosDeResponsabilidad",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "BC API - Tecnologias",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "BC API - Tipologias",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "BC API - Departamentos",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "BC API - MovimientosProyectos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Result Recursos": {
            "main": [
                [
                    {
                        "node": "Merge Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Result PS_Years": {
            "main": [
                [
                    {
                        "node": "Merge Results",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Result Departamentos": {
            "main": [
                [
                    {
                        "node": "Merge Results",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Merge Results": {
            "main": [
                [
                    {
                        "node": "Compute Execution Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute Execution Summary": {
            "main": [
                [
                    {
                        "node": "Save Sync Execution",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Sync Execution": {
            "main": [
                [
                    {
                        "node": "Response Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BC API - ProyectosTareas": {
            "main": [
                [
                    {
                        "node": "Transform ProyectosTareas",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result Job Task",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform ProyectosTareas": {
            "main": [
                [
                    {
                        "node": "Upsert Job Task",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Job Task": {
            "main": [
                [
                    {
                        "node": "Compute now ISO (Job Task)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result Job Task",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute now ISO (Job Task)": {
            "main": [
                [
                    {
                        "node": "Update sync_state (Job Task)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BC API - CentrosDeResponsabilidad": {
            "main": [
                [
                    {
                        "node": "Transform CentrosDeResponsabilidad",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result CentrosDeResponsabilidad",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform CentrosDeResponsabilidad": {
            "main": [
                [
                    {
                        "node": "Upsert CentrosDeResponsabilidad",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert CentrosDeResponsabilidad": {
            "main": [
                [
                    {
                        "node": "Compute now ISO (CentrosDeResponsabilidad)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result CentrosDeResponsabilidad",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute now ISO (CentrosDeResponsabilidad)": {
            "main": [
                [
                    {
                        "node": "Update sync_state (CentrosDeResponsabilidad)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BC API - ConfiguracionUsuarios": {
            "main": [
                [
                    {
                        "node": "Transform ConfiguracionUsuarios",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result ConfiguracionUsuarios",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform ConfiguracionUsuarios": {
            "main": [
                [
                    {
                        "node": "Upsert ConfiguracionUsuarios",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert ConfiguracionUsuarios": {
            "main": [
                [
                    {
                        "node": "Compute now ISO (ConfiguracionUsuarios)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result ConfiguracionUsuarios",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute now ISO (ConfiguracionUsuarios)": {
            "main": [
                [
                    {
                        "node": "Update sync_state (ConfiguracionUsuarios)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update sync_state (ConfiguracionUsuarios)": {
            "main": [
                [
                    {
                        "node": "BC API - Tecnologias",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BC API - Tecnologias": {
            "main": [
                [
                    {
                        "node": "Transform Tecnologias",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result Tecnologias",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform Tecnologias": {
            "main": [
                [
                    {
                        "node": "Upsert Tecnologias",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Tecnologias": {
            "main": [
                [
                    {
                        "node": "Compute now ISO (Tecnologias)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result Tecnologias",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute now ISO (Tecnologias)": {
            "main": [
                [
                    {
                        "node": "Update sync_state (Tecnologias)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BC API - Tipologias": {
            "main": [
                [
                    {
                        "node": "Transform Tipologias",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result Tipologias",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform Tipologias": {
            "main": [
                [
                    {
                        "node": "Upsert Tipologias",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Tipologias": {
            "main": [
                [
                    {
                        "node": "Compute now ISO (Tipologias)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result Tipologias",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute now ISO (Tipologias)": {
            "main": [
                [
                    {
                        "node": "Update sync_state (Tipologias)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BC API - Departamentos": {
            "main": [
                [
                    {
                        "node": "Transform Departamentos",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result Departamentos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform Departamentos": {
            "main": [
                [
                    {
                        "node": "Upsert Departamentos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Departamentos": {
            "main": [
                [
                    {
                        "node": "Compute now ISO (Departamentos)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result Departamentos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute now ISO (Departamentos)": {
            "main": [
                [
                    {
                        "node": "Update sync_state (Departamentos)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BC API - MovimientosProyectos": {
            "main": [
                [
                    {
                        "node": "Transform MovimientosProyectos",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result MovimientosProyectos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform MovimientosProyectos": {
            "main": [
                [
                    {
                        "node": "Upsert MovimientosProyectos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert MovimientosProyectos": {
            "main": [
                [
                    {
                        "node": "Compute now ISO (MovimientosProyectos)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Result MovimientosProyectos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute now ISO (MovimientosProyectos)": {
            "main": [
                [
                    {
                        "node": "Update sync_state (MovimientosProyectos)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update sync_state (CentrosDeResponsabilidad)": {
            "main": [
                [
                    {
                        "node": "BC API - ConfiguracionUsuarios",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "6d027d35-91d1-45fb-8c26-f1d475e01204",
    "versionCounter": 3,
    "triggerCount": 0,
    "shared": [
        {
            "updatedAt": "2025-11-17T09:39:30.162Z",
            "createdAt": "2025-11-17T09:39:30.162Z",
            "role": "workflow:owner",
            "workflowId": "l5ux7p339Nejygra",
            "projectId": "Vk0jJ9ei6UApqSl3",
            "project": {
                "updatedAt": "2025-11-17T09:37:25.684Z",
                "createdAt": "2025-11-17T09:36:26.142Z",
                "id": "Vk0jJ9ei6UApqSl3",
                "name": "Power  Solution <dbertona@powersolution.es>",
                "type": "personal",
                "icon": null,
                "description": null,
                "projectRelations": [
                    {
                        "updatedAt": "2025-11-17T09:36:26.142Z",
                        "createdAt": "2025-11-17T09:36:26.142Z",
                        "userId": "c1fd9fda-9cca-402f-8696-b6ca6b08a713",
                        "projectId": "Vk0jJ9ei6UApqSl3",
                        "user": {
                            "updatedAt": "2025-11-17T18:50:40.000Z",
                            "createdAt": "2025-11-17T09:36:25.532Z",
                            "id": "c1fd9fda-9cca-402f-8696-b6ca6b08a713",
                            "email": "dbertona@powersolution.es",
                            "firstName": "Power ",
                            "lastName": "Solution",
                            "personalizationAnswers": null,
                            "settings": {
                                "userActivated": false
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2025-11-17",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": []
}
